{% extends "main.html" %}
{% block article %}
 
    <div class="small-12 columns">
        <h4> 
            <a href="/article/get/{{ article.id }}" title="{{article.article_title}}">{{article.article_title}}</a>
        </h4>
    </div>

    <div class="small-10 columns">
       <p>{{article.article_text}} </p>
        <h6> <small>{{article.article_date}}</small> </h6>
        <hr>        
        {%if comments %}
            <p>Коментарии:</p>
        {% else %}
            <p>Еше никто не оставил коментарий к данной статье</p>
        {% endif %}

        {% for comment in comments %}
            <div class="card">
                <div class="card-divider">
                    <h6 class="subheader">
                        <b>{{ comment.comments_user.username}}</b> <small>{{ comment.comments_date}}</small>
                    </h6>
                </div>
                <div class="card-section">               
                    <p><br>{{comment.comments_text}}</p>  
                </div>                               
            </div>
        {% endfor %}

        {% if username %}
            <form action="/article/addcoment/{{ article.id }}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="button" value="Добавить коментирй">
            </form>
        {% else %}
            <p>Только авторизированные пользователи могут оставлять коментарии</p>
            <a href="/auth/login" class="button">Авторизироваться</a>
        {% endif %}
    </div>   

{% endblock article %}