{% extends "main.html" %}
{% block article %}
 
    <div class="col">
        <h4> 
            <a href="/article/get/{{ article.id }}">{{article.article_title}}</a>
        </h4>
    </div>

    <div class="col">
       <p>{{article.article_text}} </p>
        <h6> <small>{{article.article_date}}</small> </h6>
        <hr>        
        {%if comments %}
            <p>Коментарии:</p>
        {% else %}
            <p>Еше никто не оставил коментарий к данной статье</p>
        {% endif %}

        {% for comment in comments %}
            
            <h6 class="subheader">
                    <b><a href="#">{{ comment.comments_user.username}}</a></b> <small>{{ comment.comments_date}}</small>
            </h6>
            {{comment.comments_text}} 
            <br> 
        {% endfor %}

        {% if username %}
            <form action="/article/addcoment/{{ article.id }}" method="POST">
                <div class="form-group">
                {% csrf_token %}
                <label for="id_comments_text">Comments text:</label>
                <textarea class="form-control" name="comments_text" id="id_comments_text" rows="3"></textarea>
                <button type="submit" class="btn btn-primary">Добавить коментирй</button>
            </div>
            </form>
        {% else %}
            <p>Только авторизированные пользователи могут оставлять коментарии</p>
            <a href="/auth/login" class="btn btn-primary">Авторизироваться</a>
        {% endif %}
    </div>   

{% endblock article %}