{% extends "main.html" %}
{% load staticfiles %}
{% block articles %}
<div class="row">
    <div class="col-6">
        <h2>
            Дымные вести
        </h2>
        {% for article in articles %}
            <h5><a href="/article/get/{{ article.id }}" title="{{article.article_title}}">{{article.article_title}}</a></h5>
            <p>{{article.article_text}}</p>
            <h6>{{article.article_date}}</h6>
            <p><a href="/article/addlike/{{ article.id }}" title="добавить лайт"> <img src="{% static "thumbs-up-icon.png"%}" width = "20px"/></a>{{article.article_likes}}</p>
            <hr>
        {% endfor %}
                
    </div>
    <div class="col ">
        <div id="sticky-anchor"></div>
        <div class="sticky right">
        <a href="/article/add" class=" btn btn-primary">+ Добавить статью</a>   
    </div>            
    </div>
</div>
<nav aria-label="...">
        <ul class="pagination">
        {% if articles.has_previous %}
            <li class="page-item">
                <a class="page-link"  href="/page/{{ articles.previous_page_number }}" >Previous</a>        
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" > Previous</span>        
            </li>
        {% endif %}
        {% for page in pages %}
            {% if page == articles.number %}
                <li class="page-item active">
                    <span class="page-link">
                        {{page}}
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="/page/{{ page }}">{{ page }}</a></li>
            {% endif %}    
        {% endfor %}
        {% if articles.has_next %}
            <li class="page-item">
                <a class="page-link" href="/page/{{ articles.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" >Next</span>        
            </li>
        {% endif %}    
    </ul>
</nav>

{% endblock articles %}    
{% block script %}
    <script src="{% static "js/custom.js"%}"></script>
{% endblock script %}