{% extends "main.html" %}
{% load staticfiles %}

{% block tobaccos %}
<div class="row">
    <div class="col-6">
    <h2>
        Табаки
    </h2><table class="table table-hover table-dark">
        <thead>
          <tr>
            <th width="75">Брэнд</th>
            <th width="150">Вкус</th>
            <th width="100">Оценка</th>
          </tr>
        </thead>
        <tbody>
          
    {% for tobacco in tobaccos %}
    <tr>
        <td>{{tobacco.brand}}</td>
        <td><a href="/tobacco/get/{{ tobacco.id }}" title="{{article.article_title}}"> {{tobacco.taste}} </a></td>
        <td>{{tobacco.avg_rate}}</td>
      </tr>
    {% endfor %}
</tbody>
</table>
</div>
<div class="col">
        <div id="sticky-anchor"></div>
        <div class="sticky right">
        <a href="/tobacco/add" class=" btn btn-primary">+ Добавить табак</a>   
    </div>
</div>
</div>      
{% endblock tobaccos %}   
{% block script %}
    <script src="{% static "js/custom.js"%}"></script>
{% endblock script %}