{% extends "main.html" %}
{% load staticfiles %}

{% block tobaccos %}
<div class="large-12 columns">
        <h1> <a href="/tobacco/get/{{ tobacco.id }}" title="{{article.article_title}}">{{tobacco.brand}} {{tobacco.taste}} </a></h1>
        <hr>
</div> 
<div class="row">
        <div class="columns small-3">
                <img src="{{tobacco.img_src}}" width = "200px"/>
        </div>
                <form action="#" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                                <input type="range" name="rate"  min="1" max="5" value="3" class="slider" id="myRange">
                        </div>
                        <p>Оценка: <span id="demo"></span></p>
                        <input type="submit" class="btn btn-primary" value="Оценить">
                </form>
        </div>
</div>

<div class="slidecontainer">

          
{% endblock tobaccos %} 

{% block script %}
<script>
                var slider = document.getElementById("myRange");
                var output = document.getElementById("demo");
                output.innerHTML = slider.value; // Display the default slider value
                
                // Update the current slider value (each time you drag the slider handle)
                slider.oninput = function() {
                    output.innerHTML = this.value;
                }
</script>
{% endblock script %}
