{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" type="text/css" href="{% static "css/scss/custom.css"%}"/>
    <title>Hooka Unity Inc.</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="{% static "img/test.png"%} " width = "35px"/>
          Hooka Unity Inc. 
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a  class="nav-link " href="/tobacco/" clas>Tobacco</a>
            </li>
            
          </ul>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
          </form>
            {% if username %}
                <li class="nav-item"> <a class="white_text" href="/auth/logout"> Выйти {{username}} </a></li>
            {% else %}
                <li class="nav-item"> <a class="white_text"  href="/auth/login"> Войти </a></li>
            {% endif %}  
        </div>
      </nav>
    
    <div class="container">
            <br>
        {% block articles %}{% endblock articles %}
        {% block tobaccos %}{% endblock tobaccos %}     
        {% block article %}{% endblock article %}
        {% block login %}{% endblock login %}
    </div>
    <script src="{% static "js/vendor/jquery.js"%}"></script>
    <script src="{% static "js/vendor/foundation.min.js"%}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  
    <script>$(document).foundation();</script>
    {% block script %}{% endblock script %}
</body>
</html>